/* index.css */

.quiz-logo {
  height: 40px;
}

.bg2-light {
	background-color: #a8ffff!important;
}


.close {
	float: left!important;
}

body {
	background-color: #ddfafa!important;
	/* background-image: url("https://www.transparenttextures.com/patterns/vichy.png"); */
	background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");

	/* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.jumbotron {
	margin-bottom: 2rem!important;
	border-radius: .25rem!important;
}

.card {
	border-radius: .25rem!important;
}
