.quiz-logo {
  height: 30px;
}

.bg2-light {
	background-color: #a8ffff!important;
}


.close {
	float: left!important;
}

body {
	background-image: url("/images/round_blu.png");
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.jumbotron {
	margin-bottom: 1rem!important;
	border-radius: .75rem!important;
}

.card {
	border-radius: .75rem!important;
}