.quiz-title {

    width: 90%;
    height: 80px;
    text-align: center; 
    background-color: rgba(0,0,0,0);
    border-width: 0;
    font-weight: 300;
    font-size: 2.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

.jumbotron{

    position: relative;

}

.close {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}
.close-right {
    position: absolute;
    top: 10px;
    right: 10px;
}
.popover {
            position: absolute;
            z-index: 2;
            top: 10px;
            left: 10px;
        }
.cover {
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
}

.btn-add-block {
    background-color: #ac68ea;
    margin-bottom: 5px;
    min-width: 140px;
}

.btn-publish {
    width: 100%;
    font-weight: 700;

}

.btn-publish:hover, .btn-publish:focus, .btn-publish:active, .btn-publish.active, .btn-publish:active:focus, .open>.dropdown-toggle.btn-publish {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}