.quiz-title {

    width: 90%;
    height: 80px;
    text-align: center; 
    background-color: rgba(0,0,0,0);
    border-width: 0;
    font-weight: 300;
    font-size: 2.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

.jumbotron{

    position: relative;

}

.close {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}
.close-right {
    position: absolute;
    top: 10px;
    right: 10px;
}
.popover {
            position: absolute;
            z-index: 2;
            top: 10px;
            left: 10px;
        }
.cover {
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
}

.btn-add-block {
    background-color: #ac68ea;
    margin-bottom: 5px;
    min-width: 140px;
}

.btn-publish {
    font-weight: 700;
    padding: 32px!important;
    font-size: 1em;
    background-color: #285e8e!important;
    color: #e9e8b0;
}

.btn-publish:hover, .btn-publish:focus, .btn-publish:active, .btn-publish.active, .btn-publish:active:focus, .open>.dropdown-toggle.btn-publish {
    color: #fff;
    background-color: #00b3db!important;
    border-color: #285e8e; /*set the color you want here*/
}

Card{
    box-shadow: 2px 2px 2px black;
}

#result{
    margin-bottom: 150px;
}
#blurb-box{
    padding: 10px;
    width: 75%;
}

.editquiz-header {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 30px;
}


h4 {
    margin-bottom: 4px!important;
}

hr {
    border: none;
    height: 2px;
    margin: 0!important;
    /* Set the hr color */
    color: rgb(9, 34, 102); /* old IE */
    background-color: rgb(9, 34, 102); /* Modern Browsers */
}

.publish-col {
    padding-top: 10px;
}

#preview-image{
    width: 500px;
    position: relative;
    max-height: 300px;
    overflow: scroll;
}
.close-preview{
    position: absolute;
    left: 30px;
    top: 10px;
    z-index: 3;
}