/* home.css */

#quiz-wrapper{
    width: 75%;
}
.space-bottom{
    margin-bottom: 20px;
}
.comment-span{
    margin-left: 10px;
}
.space-top{
    margin-top: 10px;
}
.gold{
    color: gold;
}
.home-nav{
    margin-bottom: 10px;
}
.big-big{
    font-size: 200% !important;
    padding: 30px !important;
}
.home-img{
    border-radius: 50%;
}
.btn-sortby{
    background-color: transparent!important;
    color: rgba(104, 104, 104, 0.616)!important;
    border-color: rgba(66, 136, 201, .2)!important;
    padding: 0;
    
}

.btn-newquiz{
    color: yellow!important;
    margin-right: 10px;
}