.question-card {
	width: 75%;
}

.question-title {
	width: 90%;
	background-color: rgba(0,0,0,0);
	text-align: center; 
    border-width: 0;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.btn {
	margin-right: 5px;
}

.image-search{
	max-height: 200px;
	overflow: scroll;
	width: 100%;
}
.search-image{

	max-width: 100%;

}
.popover {
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 10px;
}
.cover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
.space{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
.close-bottom-right{
	position: absolute;
	z-index: 2;
	bottom: 10px;
	right: 10px;
	opacity: .5;
}
.sidebar{
	position: absolute;
	top: 0px;
	left: -25px;
	width: 20px;
	color: gray;
}

.card-body {
}

.close-right {
	opacity: .5;
	border-radius: .25rem .25rem 0rem 0rem!important;
}