.sticky-top{
    position: fixed;
    top: 0;
    left: 0;
}

.nav-image{
    max-height: 50px;
    border-radius: 50%;
    border:1px solid grey;
}

.quiz-logo {
    height: 40px;
  }

.bg-blue {
    background-color: #a8ffff!important;
    height: 60px;
    /* border-bottom-width: 2px;
    border-bottom-color: #48a0b5; */
    border-bottom: 2px solid #48a0b5;
}

.push-left{
    margin-left: 10px;
}

button a {
    color: #212529!important;
    text-decoration: none;
}

button a:hover {
    text-decoration: none;}
