/* newanswer.css */

.answer-title {
    width:100%;
    background-color: rgba(0,0,0,0);
    border-width: 0;

}
.search-for{

    color: white;
    height: 100%;
	min-width: 100%;
    background-color: gray;
    display           : flex;
    justify-content   : center;
    flex-direction    : column; 

}
 .answer-image{
    min-height: 220px;
    display: block;
    width: auto;
    height: auto;
}
.text-block-head{

    height: 200px;

}

CardHeader{
    position: relative;
}

.text-float{
    left: 0px;
    top: 0px;
    padding: 5px;
    position: absolute;
    width: 100%;
    height: 200px;
    display           : flex;
    justify-content   : center;
    flex-direction    : column; 
}
.image-head{
    height: 200px;
    /* background-color: #353079!important; */  dfdfdf
    background-color: #dfdfdf!important;
}

.card-header {
    padding: 0!important;
    justify-content: center;
    display: flex;
    flex-direction    : column; 
}
.smol{
    margin-top: -15px;
    font-size: 50%;
}

.btn-success {
    width: 100%
}

.answer-block {
    padding: 10px!important;
}

.close-bottom-right{
	position: absolute;
	z-index: 2;
	bottom: 10px;
	right: 10px;
}
.close-trash{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
}

.right-float {
float: right;
}

.right-position {
    
    position: absolute;
    right: 15px;
    top: 15px;
    }

.greybox {
    background-color: rgba(124, 124, 124, 0.1)!important;
}

.image-search-header {
    margin-top: 50px;
}

.image-search-input {
    margin-bottom: 20px;
}
/*
 *  scroll style
 */

 #style-7::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 #style-7::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
 #style-7::-webkit-scrollbar-thumb
 {
     background-color: #0ae;
     
     background-image: -webkit-gradient(linear, 0 0, 0 100%,
                        color-stop(.5, rgba(255, 255, 255, .2)),
                        color-stop(.5, transparent), to(transparent));
 }
 